 * {
    font-family: 'Golos Text', sans-serif;
 }
 .page-container {
    margin: 0px;
    padding: 0px;
    max-width: 100%
 }

 .title-text {
    font-family: 'DM Serif Text', serif;
    color: #2283f3e7;
    text-align: center;
    font-size: 5em;
    margin: 200px;
 }
 .home-page {
    width: 100vw;
    height:  100vh;
    background-image: url("/home.png");
    background-size: 100% 100%;
    .home-title-text {
        font-family: 'DM Serif Text', serif;
        color: #ffdf4fe7;
        text-align: center;
        font-size: 8em;
        margin-top: 500px;
    }
 }
 .menu-page {
    width: 100vw;
    
    background-image: url("/home.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

 }
 .menu-container {
    -webkit-box-shadow: 10px 10px 31px -8px rgba(181,181,181,1);
    -moz-box-shadow: 10px 10px 31px -8px rgba(181,181,181,1);
    box-shadow: 10px 10px 31px -8px rgba(181,181,181,1);
    background-color: #FFF;
    width: 100%;
    padding: 2em;
    margin-top: 300px;
 }
 .catering-page {
    width: 100vw;
    height: 100vh;
    background-image: url("/home.png");
    background-size: 100% 100%;
 }
 .info-page {
    width: 100vw;
    height: 100vh;
    background-image: url("/home.png");
    background-size: 100% 100%;
 }
 .reviews-page {
    width: 100vw;
    height: 100vh;
    background-image: url("/home.png");
    background-size: 100% 100%;
 }
 .link-container {
    padding-left: 1em;
    padding-top: 0.25em;
    .link {
        color: #ffdf4fe7;
    }
    .active {
        color: #2283f3e7;
    }
    .link:active {
        color: #2283f3e7;
    }
 }